# ==============================================================================
# Application Runtime Settings, Character Logs, & Dynamic Data
# ==============================================================================
# All user-specific runtime settings, logs, character states, and user databases
settings/*
!settings/.gitkeep

# Runtime logs
logs/
*.log

# Cache & Lock Files
*.lock
.lock
m59_companion_locks/
sync.ffs_db

# ==============================================================================
# Build Artifacts & Binaries
# ==============================================================================
build/
*.spec

# ==============================================================================
# Python & Environment Artifacts
# ==============================================================================
__pycache__/
*.pyc
*.pyo
*.pcapng
.env*
!.env.example

# ==============================================================================
# IDEs & System Temp Files
# ==============================================================================
.vscode/
.idea/
.DS_Store
*.tmp
*.bak
